
p  {
    color: pink;
	font-family: Constantia, "Lucida Bright", "Dejavz Serif", Georgia, "Serif";
	font-size: 16px;
	line-height: 18px;
	width: 1000px;
	background-color: aliceblue;
	padding: 20px;
 }
 .novi_blok {
	 background-color: rgba(255,255,255,0.5);
	 padding:20px;
	 margin:20px;
	 width:69%;
 }
 h1, h2  {
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	 color: cadetblue;
 }
 body {
	 background-image: url("Slike/slika3html.jpg");
 }
 a:link {
	 color: black;
	 background-color: white;
	 padding: 5px;
	 line-height: 40px;
	 border:1px solid #000000;
 }
 a:hover {
	 background-color:yellow;
 }
 img  {
	 height: 390px;
 }